langchain
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-mcp-adapters
# langraph
mcp
chromadb
sentence-transformers
huggingface-hub
pydantic
pydantic-settings
python-dotenv
pandas
numpy
matplotlib
seaborn
scikit-learn
torch
duckdb
sqlalchemy
openpyxl
pyarrow
requests
reportlab
fastapi
uvicorn[standard]
python-multipart
email-validator
pytest
ruff
httpx
